# Good news, everyone

## Past Seminars
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Speaker</th>
        <th>Title</th>
        <th>Slides</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2016-10-11</td>
        <td><a href="https://itb.biologie.hu-berlin.de/~bordyugov/">Bordyugov Grischa</a></td>
        <td>Programming with closures for fun and profit</td>
        <td></td>
    </tr>
    </tbody>
</table>